body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    font-size: 15px;
    line-height: 1.6;
    color: #fff;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.page {
    overflow: hidden;
}

/* Container */
.container {
    width: 100%;
    max-width: 1260px;
    padding: 0 15px;
    margin: 0 auto;
}

/* Header */
.header {
    width: 100%;
    padding-top: 30px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    transition: background-color .2s linear;
}

.header.active {
    background-color: rgba(0, 0, 0, .9);
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo--text {
    font-family: 'Raleway', sans-serif;
    font-size: 34px;
    font-weight: 400;
}

/* Nav */
.nav {
    display: flex;
    align-items: center;
}

.nav.active {
    display: initial;
}

.nav-item {
    margin-right: 30px;

    font-size: 14px;
    font-weight: 300;
    color: white;
    text-decoration: none;
    transition: color .2s linear;
}

.nav-item:last-child {
    margin-left: 30px;
    margin-right: 0;
}

.nav-item:hover {
    color: #c7b299;
}

.nav-icons {
    margin-right: 20px;

    font-size: 20px;
    color: white;
    text-decoration: none;
    transition: color .2s linear;
}

.nav-icons:hover {
    color: #c7b299;
}

.nav-item i {
    font-size: 20px;
}

/* Nav toggle */
.nav-toggle {
    display: none;
}

.icon-hamburger {
    width: 30px;
    height: 20px;
}

.icon-hamburger .icon-bar {
    background-color: white;
    opacity: 1;
    display: block;
    height: 2px;
    transition: all .1s ease-in;
    margin: 0;
    transform-origin: 50% 50%;
}

.icon-bar:nth-child(2) {
    margin: 7px 0;
}

.dropdown-menu {
    display: none;
}

.nav-toggle.open .icon-bar:nth-child(1) {
    transform: translate3d(0, 12px, 0) rotate(45deg);
}

.nav-toggle.open .icon-bar:nth-child(2) {
    opacity: 0;
}

.nav-toggle.open .icon-bar:nth-child(3) {
    transform: translate3d(0, -6px, 0) rotate(-45deg);
}

.dropdown-menu a {
    text-decoration: none;
    font-size: 14px;
    color: white;
}

.dropdown-menu li {
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #7b6b5e;
    padding-right: 10px;
    padding-left: 0;
}

.dropdown-menu li:last-child {
    border-bottom: 1px solid transparent;
    margin-bottom: 0;
}

.nav-toggle.open .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 82%;
    opacity: .9;
    text-align: right;
    min-width: 160px;
    display: initial;
    list-style: none;
    background-color: #867567;
    border: 1px solid #5e5248;
    border-radius: 3px;
    background-clip: padding-box;
    z-index: 4;
}

/* Intro */
.intro {
    width: 100%;
    height: 100vh;
    background: url("../images/intro/bg.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    text-align: center;
}

.intro-inner {
    position: relative;
}

.intro-text {
    padding-top: 360px;
    line-height: 1;
    width: 600px;
    font-family: 'Raleway', sans-serif;
    color: white;
    margin: 0 auto 55px;
}

.sup-text {
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 15px;
}

.title {
    font-size: 52px;
    font-weight: 800;
    margin-bottom: 25px;
}

.sub-text {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    font-size: 16px;
    font-weight: 300;
}

/* Button */
.btn {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 800;
    text-transform: uppercase;
    background-color: #998675;
    border: 1px solid #998675;
    border-radius: 4px;
    color: white;
    padding: 20px 40px;
    transition: background-color .2s linear, border .2s linear;
    box-shadow: 0 3px 0 #736357;
    margin-bottom: 3px;
}

.btn:hover {
    border: 1px solid #867567;
    background-color: #867567;
    cursor: pointer;
}

.purchase-btn {
    padding: 17px 30px;
}

.project-btn {
    padding: 17px 45px;
}

/* Arrows */
.arrows {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    top: 50%;
    transform: translateY(-50%);
    font-size: 110px;
    padding: 0 150px;
    -webkit-text-stroke: 2px white;
}

.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 30px;
    opacity: .3;

    transition: opacity .2s linear;
}

.arrow:hover {
    opacity: 1;
}

.arrow.left {
    transform: rotate(135deg);
}

.arrow.right {
    transform: rotate(-45deg);
}

/* Bullets */
.bullets {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 100%;
    transform: translateY(-100%);
    z-index: 1;
    padding-bottom: 40px;
}

.bullets label {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #898a8c;
    font-size: 0;
    border: 1px solid transparent;
    border-radius: 50%;
    margin: 0 5px;
}

.bullets input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

.bullets label:hover {
    background-color: #6f6f71;
}

.bullets input[type="radio"]:checked + label {
    width: 13px;
    height: 13px;
    background-color: transparent;
    border: 2px solid #d3c1ad;
}

/* About Us */
.section {
    padding-top: 90px;
}

/* Features */
.features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.feature-item {
    width: 245px;
    text-align: center;
    margin-right: 30px;
    margin-bottom: 160px;
}

.feature-item:last-child {
    margin-right: 0;
}

.feature-item:hover .feature-item--icon,
.feature-item:hover .feature-item--title {
    color: #c7b299;
}

.feature-item:hover:after {
    opacity: 1;
}

.feature-item--icon {
    font-size: 40px;
    color: #555;
    transition: color .2s linear;

    margin-bottom: 25px;
}

.feature-item--title {
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: #555;

    margin-bottom: 10px;
    transition: color .2s linear;
}

.feature-item--text {
    font-size: 14px;
    font-weight: 300;
    color: #8c8c8c;

    margin-bottom: 35px;
}

.feature-item:after {
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    opacity: .3;
    background-color: #c7b299;
    transition: opacity .2s linear;

    margin: 0 auto;
}

/* About Text */
.about-text {
    width: 90%;
    text-align: center;
    line-height: 1;

    margin: 0 auto 115px;
}

.about-text--title {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: #555;

    margin-bottom: 20px;
}

.about-text--sub {
    line-height: 1.8;
    font-size: 16px;
    font-weight: 300;
    color: #8c8c8c;
}

/* About Images */
.about-images {
    width: 100%;
    margin: 0 auto;
    display: flex;
    position: relative;
}

.about-images--image {
    display: block;
    max-width: 100%;
    height: auto;
}

.about-images--image.below {
    position: absolute;
    right: 0;
    z-index: 50;
}

.about-images--image.center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -20%;
    z-index: 100;
}


/* Purchase */
.purchase {
    padding: 0;
    background: linear-gradient(to right, #211b19, #4e3427);
}

.purchase-inner {
    padding: 45px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.purchase-text {
    line-height: 1.5;
}

.purchase-text--title {
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    font-weight: 400;
    color: white;
}

.purchase-text--title span {
    color: #c7b299;
}

.purchase-text--sup {
    font-size: 18px;
    font-weight: 300;
    color: #615855;
}

/* Projects */
.projects-inner {
    margin: 0 auto 3px;
}

.projects-text {
    text-align: center;
    line-height: 1;
    max-width: 730px;

    margin: 0 auto 40px;
}

.projects-title {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: #555;

    margin-bottom: 20px;
}

.projects-sub {
    line-height: 1.8;
    font-size: 16px;
    font-weight: 300;
    color: #8c8c8c;
}

/* Filter Button */
.filter-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    margin-bottom: 30px;
}

.filter-btn {
    background-color: white;
    font-size: 14px;
    font-weight: 300;
    color: #8c8c8c;
    border: 1px solid #ebebeb;
    border-radius: 4px;
    padding: 8px 25px;
    margin-right: 10px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: color .2s linear, background-color .2s linear, border-color .2s linear;
}

.filter-btn:last-child {
    margin-right: 0;
}

.filter-btn:hover {
    color: white;
    background-color: #998675;
    border: 1px solid #998675;
}

/* Project Items */
.project-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 290px);
    grid-gap: 30px;
    justify-content: center;
    margin-bottom: 40px;
}

.project-photo {
    position: relative;
    background-color: #111111;
}

.project-img {
    display: block;
    max-width: 100%;
    height: auto;

    transition: opacity .2s linear;
}

.project-arrow {
    font-size: 50px;
    position: absolute;
    top: 91%;
    left: 15%;
    transform: translate(-100%, -20%);
    z-index: 100;

    transition: color .2s linear;
}

.project-photo-hover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;

    opacity: 0;
    transition: opacity .2s linear;
}

.photo-hover-item {
    font-size: 30px;
    color: white;
    text-decoration: none;
    margin-right: 25px;
    transition: color .2s linear;
}

.photo-hover-item:last-child {
    margin-right: 0;
}

.photo-hover-item:hover {
    color: #c7b299;
}

.project-info {
    background-color: #fbfaf8;
    padding: 25px 35px;
    text-decoration: none;

    transition: background-color .2s linear;
}

.project-info a {
    text-decoration: none;
}

.project-title {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1;
    color: #c7b299;
    margin-bottom: 7px;

    transition: color .2s linear;
}

.project-tags {
    font-size: 14px;
    font-weight: 300;
    color: #d1d1d1;

    transition: color .2s linear;
}

.project-item:hover .project-img {
    opacity: .3;
}

.project-item:hover .project-info {
    background-color: #362f2d;
}

.project-item:hover .project-arrow {
    color: #362f2d;
}

.project-item:hover .project-title {
    color: #d1d1d1;
}

.project-item:hover .project-tags {
    color: #c7b299;
}

.project-item:hover .project-photo-hover {
    opacity: 1;
}

.project-btn {
    display: block;
    margin: 0 auto;
}

/* Presentation */
.video-inner {
    background-color: #111111;
    position: relative;
}

.video-size {
    height: 80%;
    width: 100%;
    overflow: hidden;
}

#presentation-video {
    display: block;
    width: 100%;
    height: auto;

    z-index: -10;
    transition: opacity .2s linear;
}

.video-inner:hover #presentation-video {
    opacity: .3;
}

.video-inner:hover .player {
    opacity: 1;
}

/* Player */
.player {
    text-align: center;
    z-index: 100;
    opacity: 0;
}

.player.paused {
    opacity: 1;
}

.presentation-video.paused {
    opacity: .3;
}

.video-info {
    width: 570px;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity .1s linear;
}

.video-title {
    margin-top: 100px;
    margin-bottom: 15px;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: 500;
}

.video-sub {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.8;
    margin-bottom: 40px;
}

.video-length {
    font-size: 14px;
    font-weight: 400;
    color: #c7b299;
}

.video-inner {
    position: relative;
}

.btn-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn-control {
    width: 120px;
    height: 120px;
    background-color: rgba(0, 0, 0, .2);
    border-radius: 50%;
    text-align: center;
    margin: 0 auto;
    position: relative;
    cursor: pointer;
}

.btn-icon {
    display: block;
    max-width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Device */
.device-inner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.device-photo {
    display: block;
    max-width: 100%;
    height: auto;
}

.device-text {
    width: 675px;
    margin-left: 30px;
}

.device-title {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: #555;

    margin-bottom: 20px;
}

.device-sub {
    font-size: 16px;
    font-weight: 300;
    color: #8c8c8c;
    line-height: 1.8;

    margin-bottom: 20px;
}

/* Device list */
.device-list {
    list-style: none;
}

.device-item {
    font-size: 16px;
    font-weight: 300;
    color: #8c8c8c;
    line-height: 2;
}

.device-item:before {
    content: url("../images/device/bullet.png");
    margin-right: 30px;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

/* Statistic */
.statistic {
    padding-top: 70px;
    background: linear-gradient(to right, #211b19, #4e3427);
}

.stat-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.stat-item {
    width: 145px;
    text-align: center;
    margin-bottom: 70px;
}

.stat-item span {
    font-size: 48px;
    font-weight: 300;
}

.stat-title {
    font-size: 14px;
    font-weight: 300;
    color: #c7b299;
    text-transform: uppercase;
}

.stat-item:after {
    content: '';
    display: block;
    width: 30px;
    height: 2px;
    background-color: white;
    margin: 25px auto 0;
}

.stat-icon {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto 10px;
}

/* Posts */
.posts-inner {
    margin: 0 auto;
}

.posts-text {
    text-align: center;
    line-height: 1;
    max-width: 730px;

    margin: 0 auto 40px;
}

.posts-title {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: #555;

    margin-bottom: 20px;
}

.posts-sub {
    line-height: 1.8;
    font-size: 16px;
    font-weight: 300;
    color: #8c8c8c;
}

/* Posts Items */
.posts-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 40px;
}

.post-photo {
    position: relative;
    background-color: #111111;
}

.post-img {
    display: block;
    max-width: 100%;
    height: auto;

    transition: opacity .2s linear;
}

.post-info {
    max-width: 370px;
    background-color: #fff;
    padding: 25px 35px;
    text-decoration: none;
    border: 1px solid #f8f8f8;
    border-top: none;

    transition: background-color .2s linear, border-color .2s linear;
}

.post-info a {
    text-decoration: none;
}

.post-title {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1;
    color: #555;
    margin-bottom: 15px;

    transition: color .2s linear;
}

.post-text {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.8;
    color: #8c8c8c;
    margin-bottom: 15px;

    transition: all .2s linear;
}

.read_more {
    display: flex;
    font-size: 14px;
    font-weight: 300;
    color: #c7b299;
    align-items: baseline;
    cursor: pointer;

    transition: all .2s linear;
}

.post-date {
    width: 50px;
    line-height: 1;
    position: absolute;
    top: 20px;
    left: 20px;
    text-align: center;
    z-index: 100;
}

.post-day {
    font-size: 24px;
    font-weight: 300;
    background-color: #363636;
    border: 1px solid #363636;
    border-radius: 3px 3px 0 0;
    padding: 5px 0;

    transition: all .2s linear;
}

.post-month {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;
    background-color: #252525;
    border: 1px solid #252525;
    border-radius: 0 0 3px 3px;
    padding: 4px 0;

    transition: all .2s linear;
}

.read_more .fas {
    margin-left: 10px;
    font-size: 12px;
}

.posts-item {
    margin-bottom: 20px;
}

.posts-item:hover .post-img {
    opacity: .3;
}

.posts-item:hover .post-info {
    background-color: #362f2d;
    border-color: #362f2d;
}

.posts-item:hover .post-title {
    color: #c7b299;
}

.posts-item:hover .post-text {
    color: #fff;
}

.posts-item:hover .post-day {
    color: white;
    background-color: #c7b299;
    border-color: #c7b299;
}

.posts-item:hover .post-month {
    color: white;
    background-color: #a48d72;
    border-color: #a48d72;
}

/* Post slider */
.post-slider {
    font-size: 20px;
    text-align: center;
    margin-bottom: 75px;
}

.post-slider .fas {
    width: 22px;
    height: 22px;
    border: 2px solid #d4d4d4;
    border-radius: 50%;
    color: #d4d4d4;
    transition: all .2s linear;
    cursor: pointer;
    line-height: 1;
    margin-right: 6px;
}

.post-slider .fas:first-child {
    padding-right: 3px;
}

.post-slider .fas:last-child {
    margin-right: 0;
    padding-left: 3px;
}

.post-slider .fas:hover {
    color: #cab69e;
    border-color: #cab69e;
}

/* Partners */
.partners {
    display: block;
    width: 100%;
    padding-top: 140px;
    background-color: black;
    position: relative;
}

.background {
    position: absolute;
    background: url("../images/partners/bg.jpg") no-repeat center;
    width: 100%;
    height: 100%;
    opacity: .3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.partners-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.partner {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 140px;
}

/* Footer */
footer {
    background-color: #191919;
}

.footer-columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 80px 0;
}

.logo.about {
    margin-bottom: 25px;
}

.footer-title {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 30px;
}

/* Footer about */
.footer-about {
    width: 22%;
}

.footer-about-text {
    font-size: 14px;
    font-weight: 300;
    color: #555;
    line-height: 1.8;
    margin-bottom: 30px;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.read_more.about {
    font-size: 14px;
    color: #d1d1d1;
}

.read_more.about:hover {
    color: #c7b299;
}

/* Footer posts */
.footer-posts {
    width: 22%;
}

.footer-post {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #252525;
    cursor: pointer;
}

.footer-post--date {
    font-size: 12px;
    font-weight: 300;
    color: #363636;
    margin-bottom: 5px;
    transition: all .2s linear;
}

.footer-post--text {
    font-size: 14px;
    font-weight: 300;
    color: #555;
    transition: all .2s linear;
}


.footer-post:last-child {
    border-bottom: none;
}

.footer-post:hover .footer-post--date {
    color: white;
}

.footer-post:hover .footer-post--text {
    color: #c7b299;
}

/* Footer twitter */
.footer-twitter {
    width: 22%;
}

.footer-post--text.twitter {
    margin-bottom: 5px;
}

.footer-post--text .twitter-link {
    text-decoration: none;
    color: #00bff3;
}

.footer-post--text a {
    text-decoration: none;
    color: #959595;
}

.footer-post--text a:hover {
    text-decoration: underline;
}

.footer-post--date.twitter {
    margin-bottom: 0;
}

/* Footer widget */
.footer-widget {
    width: 22%;
}

.widget-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    grid-gap: 10px;
}

/* Copyright */
.footer-copyright {
    width: 100%;
    background-color: #111111;
    font-size: 13px;
    font-weight: 300;
    color: #555;
    padding: 45px 0;
}

.copyright-inner {
    display: flex;
    justify-content: space-between;
}

.copyright-left,
.copyright-right {
    display: flex;
}

.copyright-text span {
    color: #959595;
}

.copyright-item {
    border-right: 1px solid #252525;
    padding: 0 15px;
}

.copyright-item:last-child {
    border-right: none;
    padding: 0 0 0 15px;
}

.footer-copyright a {
    text-decoration: none;
    color: #555;
}

.footer-copyright a:hover {
    color: #c7b299;
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (max-width: 990px) {
    /* Intro */
    .nav {
        display: none;
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: rgba(0, 0, 0, .9);
        border: 1px solid rgba(0, 0, 0, .9);
        border-top: 1px solid transparent;
        border-radius: 0 0 4px 4px;
        text-align: center;
        animation: appear .2s linear;
    }

    .nav-item {
        display: block;
        margin: 0;
        padding: 3px 0;
    }

    .nav-item:last-child {
        margin-bottom: 0;
    }

    .nav-toggle {
        display: inline-block;
    }

    .arrows {
        display: none;
    }

    /* Features */
    .feature-item--text {
        font-size: 13px;
    }

    /* Video */
    .video-sub {
        display: none;
    }

    /* Device */
    .device-photo {
        display: none;
    }

    .device-text {
        margin-bottom: 30px;
    }
}

@media (max-width: 770px) {
    /* Intro */
    .intro-text {
        width: 80%;
    }

    .title {
        font-size: 40px;
    }

    .sup-text {
        font-size: 23px;
    }

    .sub-text,
    .btn {
        font-size: 12px;
    }

    /* Video */
    .video-title {
        font-size: 24px;
    }

    /* Purchase */
    .purchase-inner {
        flex-direction: column;
        justify-content: center;
    }

    .purchase-text {
        text-align: center;
    }

    .purchase-text--title {
        font-size: 23px;
    }

    .purchase-text--sup {
        font-size: 15px;
        margin-bottom: 20px;
    }

    /* Feature */
    .feature-item {
        margin-bottom: 100px;
    }

    .footer-columns {
        flex-direction: column;
        align-content: center;
    }

    .footer-column {
        width: 80%;
    }

    .widget-items {
        grid-template-columns: repeat(auto-fill, 135px);
        justify-content: flex-start;
    }

    /* Copyrights */
    .copyright-inner {
        justify-content: center;
    }

    .copyright-right {
        display: none;
    }

    .copyright-left {
        display: flex;
        flex-wrap: wrap;
    }
}

@media (max-width: 575px) {
    /* Intro */
    .intro-text {
        padding-top: 65%;
    }

    .title {
        font-size: 36px;
    }

    .sup-text {
        font-size: 16px;
    }

    .sub-text,
    .btn {
        font-size: 10px;
    }

    /* Features */
    .feature-item {
        margin-right: 0;
    }

    /* Video */
    .video-info {
        display: none;
    }

    /* Device */
    .device-list {
        padding-left: 0;
    }

    .device-item:before {
        margin-right: 15px;
    }
}